<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums</title>
</head>
<body>
<h1>Albums on Songr</h1>

<ul th:each="album : ${albums}">
    <li th:text="'Album Name: ' + ${album.title}"></li>
    <li th:text="'Author: ' + ${album.artist}"></li>
    <li th:text="'Number of Songs: ' + ${album.songCount}"></li>
    <li><img th:src="${album.imgUrl}" src="test" alt="test"></li>
    <div>
        Songs:
    </div>
        <ul th:each="song : ${album.songsOnThisAlbum}">
            <li th:text="${song.trackNumber} + '. ' + ${song.title} + ' (' + ${song.length} + ' seconds)'"></li>
        </ul>
    <form action="/add-song" method="post">
        <fieldset>
            <legend>Add Song</legend>
            <label for="title">Title</label>
            <input type="text" name="songTitle">
            <label for="length">Length (in seconds) </label>
            <input type="text" name="songLength">
            <label for="trackNumber">Track Number</label>
            <input type="text" name="trackNumber">
            <input type="hidden" name="albumName" th:value="${album.title}">
            <input type="submit" value="Add Song">
        </fieldset>
    </form>
</ul>

<form action="/albums" method="post">
    <fieldset>
        <legend>Add Album</legend>
        <label for="title">Album Name</label>
        <input type="text" name="title">
        <label for="artist">Artist</label>
        <input type="text" name="artist">
        <label for="songCount">Number of Songs</label>
        <input type="text" name="songCount">
        <label for="length">Length of Album (in seconds)</label>
        <input type="text" name="length">
        <label for="imgUrl">Album Image</label>
        <input type="text" name="imgUrl">
        <input type="submit" value="Add Album">
    </fieldset>
</form>
</body>
</html>
