<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums</title>
</head>
<body>
<ul th:each="album : ${albums}">
    <li th:text="'Album Name: ' + ${album.title}"></li>
    <li th:text="'Album Author: ' + ${album.artist}"></li>
    <li th:text="'Number of Songs: ' + ${album.songCount}"></li>
    <li><img th:src="${album.imgUrl}" src="test" alt="test"></li>
</ul>
</body>
</html>